<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            html,
            body {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <iframe
            id="movierulz"
            src="https://7movierulz.es/"
            style="width: 100vw; height: 100vh"
        >
        </iframe>
    </body>
    <script>
        const movierulz = document.getElementById("movierulz");
        movierulz.onload = function () {
            console.log("iframe changed");
            const a = movierulz.contentWindow.document.getElementsByTagName("a");
            for (let i = 0; i < a.length; i++) {
                const eleA = a[i];
                const href = eleA.getAttribute("href");
                if (href.includes("magnet")) {
                    eleA.setAttribute("href", "hello");
                }
            }
        };
    </script>
</html>
