<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <p style="color: red"><%= error %></p>
        <h1>Torrent Files (<span id="main"></span>)</h1>
        <ol>
            <% files.forEach((file, index) => { %>
            <li>
                <button
                    onclick="generateIntent('<%= index %>')"
                >
                    <%= file.name %> <span id="<%= file.name %>">0%</span>
                </>
            </li>
            <% }) %>
        </ol>
    </body>
    <script>
        const socket = io();

        const generateIntent = (file) => {
            let url = window.location.hostname;
            if (window.location.port) {
                url += `:${window.location.port}`
            }
            url += `/${file}`;
            
            const intent = `intent://${url}#Intent;package=org.videolan.vlc;action=android.intent.action.VIEW;scheme=http;type=video/mp4;end`
            const a = document.createElement("a");
            a.href = intent;
            a.click();
        };

        socket.on("torrentFilesProgress", ({ torrent, files }) => {
            const main = document.getElementById("main");
            main.innerHTML = torrent.progress + "%";
            files.forEach((e) => {
                const node = document.getElementById(e.id);
                node.innerHTML = e.progress + "%";
            });
        });
    </script>
</html>
